<div class="container">
    <div class="row unselected">
        <div class="col s10 m6 l4 push-s1 push-m3 push-l4">

            <h4 class="upper titulo">Cadastrar Categoria</h4>
            <hr>


            <div class="row">
                <form action="/admin/categorias/cadastro" method="post" class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="titulo" id="titulo" type="text">
                            <label for="titulo">Título</label>
                        </div>

                        <div class="input-field col s12">
                            <textarea class="materialize-textarea" name="desc" id="desc"></textarea>
                            <label for="desc">Descrição</label>
                        </div>

                        <div class="input-field col s12">
                            <button class="btn w-100">Cadastrar</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div class="row unselected">

        <div class="col s10 m6 push-s1 push-m3">
            {{#each erros}}
            <div class="error_msg card red lighten-2 white-text center">
                <p class="flash-msg">
                    {{texto}}
                </p>
            </div>
            {{else}}

            {{/each}}
        </div>
    </div>