{{#if admin}}
<div class="fixed-action-btn click-to-toggle" style="position: fixed; bottom: 10vh; right: 30px;">
    <a class="btn-floating btn-large admin"><i class="bx bx-cog"></i></a>
    <ul>
        <li><a href="/admin/cronologia" class="btn-floating admin"><i class="bx bx-calendar-alt"></i></a></li>
        <li><a href="/admin/users" class="btn-floating admin"><i class="bx bx-group"></i></a></li>
        <li><a href="/admin/produtos/cadastro" class="btn-floating admin"><i class="bx bx-plus"></i></a></li>
        <li><a href="/admin/dashboard" class="btn-floating admin"><i class="bx bxs-dashboard"></i></a></li>
    </ul>
</div>
{{else}}

{{/if}}